save-exact=true
public-hoist-pattern[]='*eslint*'
public-hoist-pattern[]='*prettier*'
public-hoist-pattern[]='eventemitter3'
public-hoist-pattern[]='vue3-click-away'
strict-peer-dependencies=false
auto-install-peers=true
side-effects-cache=false
